
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;

    text-decoration: none;
}
body{
    background: #7e6e7757;
    font-size: 100%; 
}
a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  a:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  #header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #a8a6a6a8;
  }
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #menu a {
    display: block;
    padding: 0.5rem;
  }
  
  #btn-mobile {
    display: none;
  }
  
  @media (max-width: 600px) {
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: #c5c2c5;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img{
    width: 726px;
}
.slide3 img{
    width: 800px;
}
.slide4 img{
    width: 570px;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2 solid #fafafa;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-bnt:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #000000e1;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px rgb(15, 11, 11);
    padding: 5px;
    border-radius: 100px;
    cursor:pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:not(:last-child)){
    color: #ffffff;
}
#radio1:checked ~.navigation-auto .auto-btn1{
    background-color: #ffffffa2;
}
#radio2:checked ~.navigation-auto .auto-btn2{
    background-color: #ffffffa2;
}
#radio3:checked ~.navigation-auto .auto-btn3{
    background-color: #ffffffa2;
}
#radio4:checked ~.navigation-auto .auto-btn4{
    background-color: #ffffffa2;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.cabecalho-logo{
    height: 38px;
}

.cabecalho-menu{
    display: flex;
    gap: 50px;
}

.cabecalho-opcao{
    /*font-family: 'Sarala', sans-serif;
    color: rgba(216, 236, 35, 0.884);
    font-size: 18px;
    font-weight: 400;
    border-style:dotted;*/
    border: 2px solid  #c4fa00d5 ;
    border-radius: 20px;
    color:#ff3ba7ea;
    font-size: 15px;
    margin-bottom: 1px;
    max-width: 60px;
    outline-style: none;
    padding: 5px;
    width: 100%;
    height: 25px;
    border-width: 1px;
    background-color: aquamarine;
    font-family: 'Righteous', cursive;
}

.conteudo{
}
.conteudo-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.conteudo-1-escrito{
    display:flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-1-escrito-titulo{
    font-size: 64px;
    font-weight: 400;
    font-family: 'Righteous', cursive;
}
.conteudo-1-escrito-subtitulo{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Sarala', sans-serif; 
}

.conteudo-1-escrito-button {
    /*background-color: rgba(243, 228, 23, 0.582); 
    width: 153px;
    height: 30px;
    border: none;
    box-shadow: 6px 5px 4px  rgb(245, 215, 81);
    border-radius: 30px;
    font-family: 'Sarala', sans-serif;
    font-weight: 100;
    font-size: 17px;
    color:rgba(16, 2, 19, 0.87);
*/
border: 2px;
    border-radius: 50px;
    color:#ffffff;
    border-color: #ffffff;
    margin-bottom: 10px;
    max-width: 150px;
    padding: 15px;
    width: 50%;
    text-align-last: center;
    font-size: 17px;
    font-family: 'Righteous', cursive;
    background-color: #7ffd09b6;
    
}
.conteudo-1-escrito-button:hover{
    background-color: rgba(229, 255, 0, 0.473);
}
.conteudo-1-img{
    height: 200px;
}
.conteudo-2{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 48px;
}
.conteudo-2-titulo{
    border-top: 0.4px solid rgba(161, 252, 108, 0.774);
    padding: 28px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Righteous', cursive;
    color:rgb(1, 68, 80);
    margin-bottom: 16px;
}
.conteudo-2-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color:rgb(3, 68, 68);
}

.rodape{
    padding: 10px;
}

.rodape-img{
    height: 40px;
    display: block;
    margin: 0 auto;
}